@layer components {
    .ui-base {
        @apply flex items-center justify-center transition focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
    .ui-rounded {
        @apply rounded-full;
    }
    .ui-squared {
        @apply rounded-none;
    }

    .ui-solid-orange {
        @apply bg-orange-600 text-white hover:bg-orange-500;
    }
    .ui-outline-orange {
        @apply border border-orange-600 text-orange-600 hover:bg-orange-600 hover:text-white;
    }
    .ui-solid-blue {
        @apply bg-blue-600 text-white hover:bg-blue-500;
    }
    .ui-outline-blue {
        @apply border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
    }
    .ui-solid-neutral {
        @apply bg-button text-btn-text hover:bg-btn-hover;
    }
    .ui-outline-neutral {
        @apply border border-button text-button hover:bg-button hover:text-btn-text;
    }

    .ui-md {
        @apply px-4 py-2.5;
    }


    /* toggle */
    .theme-toggle {
        @apply relative w-12 h-7 rounded-full cursor-pointer transition-colors duration-300;
    }
    .theme-toggle-light {
        @apply bg-orange-600;
    }
    .theme-toggle-dark {
        @apply bg-blue-600;
    }
    .theme-toggle-circle {
        @apply absolute top-1 left-1 w-5 h-5 rounded-full bg-white flex items-center justify-center
        transition-transform duration-300;
    }
    .theme-toggle-dark .theme-toggle-circle {
        @apply translate-x-5;
  }

  /* Link */
  .ui-link {
    @apply text-sm font-medium hover:underline hover:cursor-pointer hover:text-orange-600 font-text;
  }
  .ui-link-title {
    @apply text-title;
  }
  .ui-link-gray {
    @apply text-[#D3D9DF];
  }
  .ui-link-text {
    @apply text-text;
  }
  .ui-link-red {
    @apply text-red-600;
  }

  /* Containers */
  .ui-container-xl {
    @apply max-w-360 mx-auto;
  }
  .ui-mx-xl {
    @apply px-28
  }
  .ui-mx-md {
    @apply px-12
  }
  .ui-mx-sm {
    @apply px-6
  }
}